@keyframes background_anim {
    0% {background-color: rgb(20, 197, 220);}
    50% {background-color: rgb(42, 165, 54); }
        100% {background-color: #18dc53;}
   
}
body{
    text-align: center;
    animation-name: background_anim;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}