@keyframes background_anim {
    0% {background-color: crimson;}
    50% {background-color: brown; }
        100% {background-color: #dc1818;}
   
}
body{
    text-align: center;
    animation-name: background_anim;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}